<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}?20181202">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?20181202">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}?20181332">
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}?20181204">
    <link rel="stylesheet" type="text/css" href="{% static 'css/carrito.css' %}?201812232">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pedidos.css' %}?2018120">
    <link rel="stylesheet" type="text/css" href="{% static 'css/producto_detalle.css' %}?20181207">
    <link rel="stylesheet" type="text/css" href="{% static 'css/clientes_list.css' %}?20181209">
    <link rel="stylesheet" type="text/css" href="{% static 'css/productosForm.css' %}?20181208">
    <link rel="stylesheet" type="text/css" href="{% static 'css/infoVentas.css' %}?20181221">
    <link rel="stylesheet" type="text/css" href="{% static 'css/buscador.css' %}?20181221">
    <link rel="stylesheet" type="text/css" href="{% static 'css/opcionesExtras.css' %}?22221">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pedidoForm.css' %}?22221">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav>{% block menu %}{% endblock %}</nav>
        <main>{% block content %}{% endblock %}</main>
    </div>
    
    {% block scripts %}{% endblock %}
</body>
</html>