{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_registro.css' %}">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="formulario">
                <header>
                    <h1>Registro</h1>
                </header>
                <form method="post">
                    <div class="container-inputs">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <div class="container-buttons">
                        <input id="submit" type="submit" value="Registrarse">
                        <a href="/">Login</a>
                    </div>
                </form>
                <div class="msgs">
                    {{msg}}
                    {{error}}
                </div>
            </div>

        </div>
    
    </main>

</body>
</html>