{% extends 'NavMenuEmpleado.html' %}

{% block content %}
    <h1>Empleados</h1>
    <ul class="container-clientes">
        {% for empleado in Empleados %}
            <li>
                <span>Nombre: {{ empleado.nombre }}</span> 
                <span>Email: {{ empleado.email }}</span> 
                <span>Contraseña: {{ empleado.password }}</span> 
                <span>Fecha de registro: {{ empleado.fecha_creado }}</span> 
                <span>Activo: {{ empleado.estado }}</span> 
                <span>Salario: {{ empleado.salario }}</span> 
                <span>Años de Experiencia: {{ empleado.años_experiencia }}</span> 
            </li>
        {% endfor %}
    </ul>
{% endblock %}