.container-ventas{
    list-style: none;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.container-ventas li{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #eeeeee;
    border-radius: 10px;
}