main h1{
    padding: 5px 20px;
    width: 30%;
}

.header-main{
    display: flex;
    align-items: center;
    padding: 5px;
}

.header-main a{
    color: rgb(204, 132, 245);
    text-decoration: none;
}

.header-main div{
    padding: 5px 20px;
    width: 70%;
    display: flex;
    justify-content: center;

}

.cards-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 20px;
    gap: 15px;
    width: 80%;

}

.container-cards-container{
    display: flex;
}

.container-cards-container .container-mas-vendidos{
    padding: 20px 20px 0 0;
    width: 20%;
}

.container-cards-container .container-mas-vendidos h2 {
    padding: 10px;
}


.card{
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.card a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #666666;
    background-color: #eeeeee;
    padding: 5px;
}

.card a:first-child{
    padding: 10px;
    transition: all 0.2s;
    border-radius: 15px;
    display: flex;
    justify-content: start;
}

.card a:last-child{
    transition: all 0.2s;
}

.card a:first-child:hover{
    background-color: #bbbbbb;
}


.card .btn-delete{
    align-self: flex-end;
    margin-top: 5px;
    border-radius: 100%;
}

.card a:last-child:hover{
    background-color: #bbbbbb;
}

.paginacion{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    padding-bottom: 20px;
}

.paginacion span{
    margin: 0 10px;
}

.paginacion a{
    text-decoration: none;
    color: #447fff;
    border: 1px solid #709dff;
    padding: 5px;
}